<app-card
  [category]="category1"
  [title]="sneakerTitle"
  [description]="sneakerDescription"
  [button]="sneakerButton"
  [image]="productImg"
></app-card>
<app-card
  [category]="category2"
  [title]="newsTitle"
  [description]="newsDiscription"
  [button]="newsButton"
  [image]="newsImglink"
></app-card>
<app-card
  [category]="category3"
  [title]="profileTitle"
  [description]="profileDescription"
  [button]="profileButton"
  [image]="profileImg"
></app-card>
<app-card
  [category]="category4"
  [title]="eventTitle"
  [description]="eventDescription"
  [button]="eventButton"
  [image]="eventImg"
></app-card>
